.custom-table .ant-table {
  background-color: #f0f0f0;  
  color: #333333; 
}

.custom-table .ant-table-thead > tr > th {
  background-color: rgb(130, 142, 157);
  color: #f0f0f0;  
  font-size: 18px;
}

.input-tb {
  margin: auto;
  width: 50vw;
  border: 1px solid rgb(168, 168, 168);
}


